html,body{
    height: 100%;
    width: 100%;
}
#right-menu{
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    width: 37px;
    height: 100%;
    
    li{
        width: 35px;
        height: 35px;
        background: url(../images/share02.png);
        background-color: #333;
        margin-bottom: 1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &:hover{
            background-color: #C69C6D;
        }
    }
    .menu-first{
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 0px;
        width: 35px;
        height: 234px;
        ul{
            li:nth-child(1){
                background-position: -88px -156px;
                &:hover{
                    background-position: -88px -121px;
                }
            }
            li:nth-child(2){
                background-position: -140px -154px;
                &:hover{
                    background-position: -141px -124px;
                }
            }
            li:nth-child(3){
                background-position: -202px -155px;
                &:hover{
                    background-position: -203px -126px;
                }
            }
            li:nth-child(4){
                background-position: -258px -125px;
                
            }
        }
    }
    .menu-second{
        position: absolute;
        z-index: 2;
        bottom: 35px;
        left: 0px;
        width: 35px;
        height: 140px;
        ul{
            li:nth-child(1){
                background-position: -312px -155px;
                &:hover{
                    background-position: -312px -124px;
                }
            }
            li:nth-child(2){
                background-position: -374px -157px;
                &:hover{
                    background-position: -375px -125px;
                }
            }
            li:nth-child(3){
                background: url(../images/line_bg.png) no-repeat 10px 9px;
                background-color: #333;
                margin-bottom: 1px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                &:hover{
                    background: url(../images/line_bg.png) no-repeat 10px -19px;
                    background-color: #C69C6D;
                }
            }
            li:nth-child(4){
                background-position: -437px -153px;
                &:hover{
                    background-position: -436px -124px;
                }
            }
        }
    }
}
header{
    width: 100%;
    height: 98px;
    min-width: 1210px;
    .logo-container{
        width: 1210px;
        height: 100%;
        margin: 0 auto;
        .logo{
            width: 100%;
            height: 98px;
            
            a{
                width: 244px;
                float: left;
                display: block;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                display: block;
                height: 44px;
                width: 2px;
                background: #ccc;
                float: left;
                margin: 27px 18px;
                
            }
            h2{
                float: left;
                height: 98px;
                line-height: 98px;
                font-size: 22px;
                color: #999;
            }
            .logo-right{
                width: 182px;
                height: 100%;
                float: right;
                line-height: 98px;
                i{
                    display: block;
                    height: 19px;
                    width: 19px;
                    padding-right: 10px;
                    background: url(http://www.5lux.com/vendor/images/5lux/login/new/phone-logo.png) no-repeat;
                    float: left;
                    margin-top: 37px;
                }
                p{
                    color: #666;
                    font-size: 13px;
                    height: 98px;
                    line-height: 98px;
                    float: left;
                }
            }
            
        }
    }
}

section{
    width: 100%;
    height: 536px;
    background: #262626;
    min-width: 1210px;
    .wrap-container{
        width: 1210px;
        margin: 0 auto;
        height: 100%;
        background: url(http://img.5lux.com.cn/vendor/images/5lux/login/new/login_background1.jpg) no-repeat;
        .register-box{
            float: right;
            margin-right: 40px;
            padding: 30px 0;
            .register{
                width: 340px;
                height: 476px;
                background: #fff;
                padding: 0 30px;
                h2{
                    height: 90px;
                    text-align:center;
                    line-height: 90px;
                    font-size: 20px;
                    color: #000;
                }
                form{
                    width: 340px;
                    height: 386px;
                    p{
                        padding: 8px 0;
                    }
                    input{
                        border: 1px solid #ccc;
                        width: 340px;
                        height: 50px;
                        box-sizing: border-box;
                        padding: 0 19px;
                    }
                    p:nth-child(1){
                        padding-top: 0;
                    }
                    p:nth-child(2){
                        input{
                            width: 182px;
                            margin-right: 24px;
                        }
                        button{
                            width: 130px;
                            height: 50px;
                            background: #f2f2f2;
                            line-height: 50px;
                            text-align: center;
                            font-size: 14px;
                            cursor: pointer;
                            border: none;
                            outline: none;
                        }
                    }
                    p:nth-child(4){
                        padding-bottom: 0;
                    }
                    p:nth-child(5){
                        button{
                            transition: all .5s;
                            width: 340px;
                            height: 50px;
                            border: none;
                            outline: none;
                            background: #333;
                            text-align: center;
                            line-height: 50px;
                            font-size: 18px;
                            margin: 24px 0 20px;
                            color: #fff;
                        }
                        padding: 0;
                    }
                    .protocol{
                        i{
                            margin-top: 3px;
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(http://www.5lux.com/vendor/images/5lux/login/new/is_yes.png) no-repeat;
                            margin-right: 3px;
                            float: left;
                            vertical-align: middle;
                        }
                        span{
                            display: inline-block;
                            font-size: 13px;
                            height: 14px;
                            line-height: 14px;
                            color: #999;
                        }
                        .fir-link{
                            display: inline-block;
                            font-size: 13px;
                            height: 14px;
                            line-height: 14px;
                            color: #333;
                        }
                        .sec-link{
                            color: #f90;
                            display: inline-block;
                            font-size: 13px;
                            height: 14px;
                            line-height: 14px;
                            margin-left: 22px;
                        }
                    }
                }
                
            }
        }
    }
}
footer{
    width: 100%;
    height: 601px;
    min-width: 1210px;
    background: url(http://img.5lux.com.cn/vendor/images/v30/footer_message_bg.jpg) center;
    .top{
        width: 1210px;
        height: 117px;
        margin: 0 auto;
        border-bottom: 1px solid #c9c9c9;
        ul{
           
            width: 100%;
            height: 100%;
            li{
                margin-top: 26px;
                width: 242px;
                height: 64px;
                float: left;
                a{
                    display: block;
                    float: left;
                    margin: 0 5px 0 10px;
                }
                p{
                    margin-top: 10px;
                    font-weight: bold;
                    height: 24px;
                    line-height: 24px;
                }
                span{
                    display: inline-block;
                    height: 24px;
                    line-height: 24px;
                }
            }
        }
    }
    .middle{
        width: 1210px;
        height: 283px;
        margin: 0 auto;
        ul{

            li{
                display: block;
                float: left;
                width: 185px;
                span{
                    display: block;
                    width: 185px;
                    height: 24px;
                    color: #000;
                    font-weight: bold;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    color: #333;
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            li:nth-child(6){
                width: 140px;
            }
            li:nth-child(7){
                width: 125px;
            }
        }
    }
    .bottom{
        width: 1210px;
        height: 177px;
        margin: 0 auto;
        p{
            font-size: 0;
            text-align: center;
            
            a{
                display: inline-block;
                color: #fff;
                font-size: 12px;
                height: 12px;
                line-height: 12px;
                border-right: 1px solid #fff;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        P:nth-child(1){
            height: 66px;
            line-height: 66px;
            a{
                padding: 0 8px;
                
            }
            a:last-child{
                border-right: none;
            }
        }
        P:nth-child(2){
            height: 24px;
            line-height: 24px;
            a{
                padding: 0 8px;
            }
            a:last-child{
                border-right: none;
            }
        }
        p:nth-child(3){
            height: 24px;
            line-height: 24px;
            color: #fff;
            font-size: 12px;
        }
        p:nth-child(4){
            margin-top: 23px;
            img{
                cursor: pointer;
            }
        }
    }
}
#popup{
    height: 120px;
    width: 100%;
    background: url(http://img550.5lux.com.cn/2016/12/27/mn/148282825934_2x120.png) repeat-x center top;
    position: fixed;
    bottom: 0;
    left: 0;
    .popup-box{
        width: 1210px;
        height: 120px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -605px;
        z-index: 2;
        a{
            display: block;
            width: 70px;
            height: 47px;
            position: absolute;
            z-index: 3;
            right: 0;
            top: 0;

            
        }
    }
}